* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --salmao_claro: #f0f4fa;
    --white: #fff;
    --black: #000;
    --cereja: #C21233;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--salmao_claro);
    font-family: 'Poppins';
}

header {
    background-color: blueviolet;
    width: 100%;
}

.aviso p span {
    font-size: .7rem;
    font-style: italic;
}

.aviso{
    margin-bottom: 20px;
}

main {
    background-color: var(--white);
    max-width: 80%;
    margin: 20px auto;
    min-height: 100%;
    border-radius: 10px;
    padding: 20px;

}

.botaoVoltar:hover {
    background-color: rgba(211, 211, 211, 0.231);
    max-width: 90px;
}

.container .botaoVoltar a {
    padding: 5px;
    gap: 4px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container .botaoVoltar a img {
    width: 20px;
}

/* 
.filtro{
    display: flex;
    flex-direction: column;
    gap: 20px;
} */

.fitro-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border-top-right-radius: 20px;
    height: 100px;
    margin-bottom: 20px;
    background-color: #ececec50;
}

.item-img img {
    width: 90px;
}

.item-botao a {
    background-color: var(--cereja);
    display: block;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    padding: 20px;
    border-top-right-radius: 20px;
}